/.idea/.name
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/MyScala.iml
/.idea/uiDesigner.xml
/.idea/libraries/scala_sdk_2_11_7.xml
/.idea
/.idea/libraries
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
